* {
  margin: 0;
  padding: 0;
}

.img-holder {
  margin: auto;
  width: auto;
  height: auto;
  border: 3px rgb(88, 88, 160) solid;
  border-radius: 5px;
  margin-top: 1rem;
  text-align: center;
}
.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
  text-align: center;
}
#input[type="file"] {
  display: none;
  text-align: center;
}
.label {
  width: 10px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.image-upload {
  margin: auto;
  width: 200px;
  height: 50px;
  color: white;
  border-radius: 10px;
  background-color: blue;
  text-align: center;
  cursor: pointer;
}
